@import '/src/index.scss';

.box {
  @extend .wrapper-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
}

.columns {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 20px;
  list-style-type: none;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  width: fit-content;
}

.creation {
  width: 272px;
}
