.box {
  background-color: #c9d1d9;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  row-gap: 15px;
  width: 272px;
  left: auto;
  top: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  max-height: 350px;
  position: relative;
  padding: 0;
  width: 100%;
  min-height: 20px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;

  &::-webkit-scrollbar {
    width: 5px;
    height: 0px;
    background-color: var(--task-content-background);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
  }
}
