.box {
  background-color: #c9d1d9;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  row-gap: 15px;
  width: 272px;
  left: auto;
  top: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
