@import '/src/index.scss';
.root {
  background-color: var(--secondary-dark);
}
.box {
  @extend .wrapper-box;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
