@import './variables.scss';

@font-face {
  font-family: 'RobotoMedium';
  src: local('RobotoMedium'), url('./fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: medium;
}
@font-face {
  font-family: 'RobotoLight';
  src: local('RobotoLight'), url('./fonts/Roboto-Light.ttf') format('truetype');
  font-weight: thin;
}
@font-face {
  font-family: 'RobotoRegular';
  src: local('RobotoRegular'), url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: medium;
}

body {
  margin: 0;
  font-family: Steppe, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212429;
  color: var(--text-color-white);
  background-color: var(--main-color);
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a,
button {
  text-decoration: none;
  outline: none;
}

li {
  list-style: none;
}
.wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-color-white);
  background-color: var(--main-color);
  font-family: 'RobotoRegular', sans-serif;
}
.wrapper-box {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0px 40px;
}
